---

import CardAbout from './CardAbout.astro';
import motorbikeIcon from '../../public/motorbike.svg';
import pillIcon from '../../public/pill.svg';
import clipboardHeartIcon from '../../public/clipboard-heart.svg';

const infoCardA = [
        {
            icon: motorbikeIcon,
            title: "Entrega a Domicilio",
            paragraph: "Nos encargamos de entregarle el medicamento hasta la puerta de su hogar, asegurando su pronta llegada. Es completamente gratis en la ciudad de somoto y sectores aledaños"
        },
        {
            icon: pillIcon,
            title: "Farmacos Segun la Ley",
            paragraph: "Todo nuestro catalogo esta conforme a la vigente ley de registro sanitario excluyendo farmacos de dudosa procedencia y con los estandares de preservacion de los mismos"
        },
        {
            icon: clipboardHeartIcon,
            title: "Productos Para la Salud",
            paragraph: "Contamos con productos para el cuidado de la salud para personas con patologias cronicas como la diabetes, brindando asistencia sobre su uso"
        }
    ]
---

<section class="about" id="About">
    <h2 class="about_title">Ofreciendoles</h2>
    <h3 class="second_title">Calidad en nuestros servicios</h3>
    <div class="box">
        {
            infoCardA.map((info, index) => <CardAbout key={index} icon={info.icon} title={info.title} 
                                            paragraph={info.paragraph} />)
        }
    </div>
</section>

<style>
    .about{
        padding: 90px 100px;
        font-family: "Poppins";

        container-type: inline-size;
        container-name: about;
    }

    .about_title{
        color: var(--first-color);
        font-weight: 300;
        text-align: center;
        font-size: clamp(20px, 4vw, 30px);
        padding-bottom: 25px;
    }

    .second_title{
        color: var(--second-color);
        font-weight: 600;
        font-size: clamp(24px, 5vw, 40px);
        text-align: center;
        padding: 25px 0;
    }

    .box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    

    @container about (width < 900px){
        .second_title{
            padding: 0;
        }

        .icon{
            width: 30px;
            height: 30px;
        }

    }

    @media (width < 900px){
        .about{
            padding: 80px 40px 60px;
        }
    }

</style>