---
import Image from "astro/components/Image.astro"

const {icon, title, paragraph} = Astro.props
---
<div class="card">
    <Image class="icon" src=`/${icon}` alt="nothing" width="40" height="40"/>
    <h2 class="title">{title}</h2>
    <p class="paragraph">{paragraph}</p>
</div>

<style>
    .card{
        border-radius: 40px;
        width: 280px;
        padding: 20px 15px;
        text-align: center;
        color: var(--second-color);
    }

    .icon{
        margin-top: 15px;
        color: var(--first-color);
        width: 50px;
        height: 50px;
    }
    
    .title{
        font-weight: 600;
        padding: 13px 0 20px;
        font-size: clamp(15px, 2vw, 20px);
    }

    .paragraph{
        text-align: center;
        font-size: clamp(12px, 2.5vw, 15px);
    }
</style>